<p>add-or-update-order works!</p>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <div formGroupName="customerInfo">
        <label for="customer-name">Customer Name: </label>
        <input formControlName="customerName" for="customer-name" type="text" placeholder="Your Name">
    </div>

    <div>
        <div *ngFor="let item of getMenuItems(); index as i" formGroupName="orderInfo">
            <div [formGroupName]="i">
                <label for="{{'img-' + i}}">{{item.name}} @ {{item.price}}</label>
                <input type="number" min="0" max="100" value="0" formControlName="items" (change)="onChange($event)">
            </div>
        </div>

        <p>Order total: {{total}}</p>
        <button type="submit">Submit/Update Order</button>
    </div>
</form>